@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}

/* Navegação */
.containerPagina {
    display: flex;
    width: 100%;
}

.navegacao {
    height: 729px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #181818;
    text-align: center;
    position: fixed;
}

.divLogo {
    display: flex;
    justify-content: center;
}

.divLogo img {
    width: 150px;
}

.h3Ola {
    color: white;
    font-family: "IBM Plex Sans";
}

.divLinks {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divLinks button {
    width: 200px;
    height: 40px;
    background-color: #037eeb;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #0d2c82;
    cursor: pointer;
    transition: all 1s;
}

.links{
    width: 100%;
    height: 100%;
}

.divLinks a {
    text-decoration: none;
    font-family: "IBM Plex Sans";
    font-weight: 900;
    color: white;
    font-size: 15px;    
}

.divLinks h3 a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 18px;
    transition: all 1s;
}

.divLinks h3 a:hover {
    color: #037eeb;
}

.divLinks .ative {
    text-decoration: none;
    background-color: #0d2c82;
}

.divLinks button:hover {
    transform: scale(1.1);
    background-color: #0d2c82;

}

/* Fim Navegação */

/* Informações do Usuário */
.informacoesUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 300px;
}

.hello {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}

.divImgUsuario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    margin-top: 25px;
}

.divImgUsuario h3 {
    font-family: "IBM Plex Sans";
    color: #fff;
    font-size: 25px;
}

.imagemUsuario {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemUsuario img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    align-content: center;
}

.divInformacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}

.divInformacoes h3 {
    font-family: "IBM Plex Sans";
    margin-left: 20px;
    color: #fff;
    font: 25px;
}

.nomeUsuario,
.nomeDeUsuario,
.mailUsuario,
.telefoneUsuario {
    background-color: #a9a9a9;
    color: #0d2c82;
    width: 98%;
    padding: 10px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}

.telefoneUsuario {
    margin-bottom: 15px;
}

/* Fim Informações de Usuário */

/* Avaliar Série */
.formularioSerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 300px;
}

.cadastroSerie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    margin-top: 50px;
    background-color: white;
    padding: 30px;
    margin-bottom: 50px;
}
.tituloSerie  h1{
    font-weight: 500;
    border-bottom: 5px solid #037eeb;
}

.tituloSerie2  h1{
    font-weight: 500;
    border-bottom: 5px solid #037eeb;
    margin-top: 15px;
    margin-bottom: 50px;
}

.inputSerie1{
    margin-top: 50px;
}

.inputSerie1,
.inputSerie2,
.inputSerie3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputSerie5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.inputSerie4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.inputBaseSerie {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.inputBaseSerie input {
    height: 40px;
    border-radius: 5px;
    border: 2px solid #0d2c82;
    padding-left: 10px;
    color: gray;
    box-shadow: 5px 5px 10px gray;
}

.inputBaseSerie span {
    font-size: 20px;
    color: #0d2c82;
}

.inputImagemSerie {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputImagemSerie input {
    height: 40px;
    border-radius: 5px;
    border: 2px solid #0d2c82;
    padding-left: 10px;
    color: gray;
    box-shadow: 5px 5px 10px gray;
}

.inputImagemSerie span {
    font-size: 20px;
    color: #0d2c82;
}

.inputBaseSerie select {
    height: 40px;
    border-radius: 5px;
    border: 2px solid #0d2c82;
    padding-left: 5px;
    color: gray;
    box-shadow: 5px 5px 10px gray;
}

.inputBaseSerieNota input{
    height: 40px;
    border-radius: 5px;
    border: 2px solid #0d2c82;
    padding-left: 10px;
    color: gray;
    box-shadow: 5px 5px 10px gray;
}

.inputBaseSerieNota span {
    font-size: 20px;
    color: #0d2c82;
}

.inputBaseSerieNota {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputSinopseSerie {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputSinopseSerie textarea {
    align-items: flex-start;
    height: 120px;
    border-radius: 5px;
    border: 2px solid #0d2c82;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    color: gray;
    box-shadow: 5px 5px 10px gray;
}

.inputSinopseSerie textarea::placeholder {
    vertical-align: top;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.inputSinopseSerie span {
    font-size: 20px;
    color: #0d2c82;
}

.imagemSerie {
    height: 18em;
    width: 18em;
    border-radius: .4em;
    padding: 15px;
    background-color: black;
    border: 2px solid #0d2c82;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 8px 8px 10px gray;
}

.imagemSerie img {
    flex: 0 0 12em;
    height: 18em;
    width: 18em;
    object-fit: cover;
    object-position: center;
    text-align: center;
    align-content: center;
}

.buttonSerie{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonSerie button{
    background-color: #037eeb;
    padding: 15px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
    margin-top: 20px;
}

.buttonSerie button:hover{
    transform: scale(1.1);
    background-color: #0d2c82;
}

.inputAvaliacaoSerie {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputAvaliacaoSerie textarea {
    align-items: flex-start;
    height: 140px;
    border-radius: 5px;
    border: 2px solid #0d2c82;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
    color: gray;
    box-shadow: 5px 5px 10px gray;
}

.inputAvaliacaoSerie textarea::placeholder {
    vertical-align: top;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.inputAvaliacaoSerie span {
    font-size: 20px;
    color: #0d2c82;
}
/* Fim Avaliar Série */

/* Carrosel */
.containerCarrossel {
    margin-top: 100px;
    margin-left: 300px;
    width: 80%;
}

.carousel {
    width: 85%;
    overflow-x: auto;
    margin: 100px;
    display: flex;
    align-items: center;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.cardCarrossel::scroll-marker {
    content: '';
    height: 1em;
    width: 1em;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
}

.cardCarrossel::scroll-marker:target-current {
    background-color: #0d2c82;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right) {
    content: '→';
    border: none;
    background-color: #0d2c82;
    font-size: 3rem;
    font-family: Consolas;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
}

.carousel::scroll-button(left) {
    content: '←';
    border: none;
    background-color: #0d2c82;
    font-size: 3rem;
    font-family: Consolas;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: left center;
    translate: 50%;
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.cardCarrossel {
    height: 10em;
    width: 10em;
    object-fit: cover;
    object-position: center;
    text-align: center;
    align-content: center;
}

.cardsDoCarrossel {
    scroll-snap-align: start;
    color: #fff;
    background-color: black;
    border-radius: .4em;
    padding: 15px;
}

.tituloCarrossel {
    color: #0d2c82;
    margin-left: 100px;
    font-size: 40px;
}

/* Fim Carrosel */

/* Dashboard */
.dashboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-left: 350px;
}

.tituloDashboard{
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 500;
    color: #fff;
    border-bottom: 5px solid #037eeb;
}

.kpis{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #fff;
    margin-top: 70px;
}

.kpi1,
.kpi2,
.kpi3 {
    height: 150px;
    width: 28%;
    background-color: #181818;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    font-family: "IBM Plex Sans";
    transition: all 1s;
    cursor: pointer;
}

.kpi1:hover,
.kpi2:hover,
.kpi3:hover {
    transform: scale(1.1);
}

.tituloKpi{
    font-size: 22px;
}

.serieKpi{
    font-size: 20px;
}

.descKpi{
    color: #037eeb;
}

.notaKpi{
    color: #037eeb;
}

.grafico{
    font-family: "IBM Plex Sans";
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 500px;
    width: 90%;
    color: #fff;
    background-color: #181818;
    padding-block: 20px;
    box-sizing: border-box;
}